<!DOCTYPE html>
<html class="no-js" lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Boilerplate</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/content/icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/content/icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/content/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/content/icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/content/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/content/icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/content/icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/content/icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/content/icons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/content/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/content/icons/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/content/icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/content/icons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="@Url.RouteUrl(HomeControllerRoute.GetManifestJson)">
    <meta name="theme-color" content="#1E1E1E">
    <meta name="x-font-awesome-stylesheet-fallback-test" class="fa">
    <meta name="description" content="@ViewBag.Description">
    @if (ViewBag.Author != null)
    {
        <meta name="author" content="@ViewBag.Author">
    }
    <link rel="stylesheet" type="text/css" href="/Styles/Bootstrap.css" />
</head>
<body ng-cloak>
    
    @RenderBody()

    <script src="~/Content/Components/requirejs-plugins/lib/require.js" data-main="/Scripts/Bootstrap"></script>
    
</body>
</html>